.bicker-header {
  background: purple;
  height: 100px;
}

.bicker-h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

.Bicker-Table {
  /* display: flex */
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background: grey;
  width: max-content;
  /* flex: 1 0 auto; */
}

.bickering-container {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  background: yellow;
  flex: 0 5 auto;
  /* width: min-content; */
}

.homepage {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  background: lightpink;
  /* flex: 2 0; */
}

/* .bicker-column, .bicker-row,  */
.Bicker-Table-Header, .Bicker-Table-Row, 
.bicker-title, .bicker-username, .bicker-replies, .bicker-date, .bicker-activity {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 5px;
  background: lightcyan;
  justify-content: left;
}

.bicker-column {
  display: flex;
  flex-wrap: nowrap;
}

.Bicker-Table-Data {
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: start; */
  background: lightcoral;
  flex-direction: column;
}

.Bicker-Table-Row {
  border-color: black;
  border-radius: 50px;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  flex: 0 1 auto;
}

.bicker-title {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.bicker-username {
  flex: 0 1 auto;
}

.bicker-replies {
  display: flex;
  flex: 0 2 auto;
}

.bicker-activity {

}

.bicker-date {
  display: flex;
  flex: 1 0 1;
}