.bicker-header {
  background: purple;
  height: 100px;
}

.bicker-h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

.user-modal {
  display: flex;
}

.navigation-bar {
  /* background-color: aquamarine; */
  padding: 10px;
  display: flex;
  justify-content: center;
}

.navigation {
  width: 900px;
  display: flex;
  justify-content: flex-end;
}

.homepage, .Bicker-Table {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  /* background: lightpink; */
  /* flex: 0 1 70em; */
}

.bickering-container {
  padding: 5px;
  margin: 5px;
  width: 200px;
  display: flex;
  flex-direction: column;
  background: yellow;
  /* flex: 0 1 auto; */
  /* flex-shrink: 1 */
  /* width: min-content; */
}

.Bicker-Table {
  /* display: flex; */
  display: flex;
  width: 900px;
  flex-direction: column;
  flex-wrap: wrap;
  /* flex: 0 1 55em; */
}

.new-bicker {
  width: 600px;
  /* display: flex; */
  /* flex-direction: column; */
}